.title{
  color: rgb(2, 101, 134);
  font-size: 1.5em;
  font-weight: bold;
}

.card-body{
  width: 80%;
  margin: auto;
  padding: 10px;
  background-color: rgb(179, 213, 241);
  border: 1px solid rgb(196, 215, 241);
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgb(150, 150, 150);
}


.card-button{
  margin:5px;
  background-color: rgb(2, 101, 134);
  border: 1px solid rgb(2, 101, 134);
  border-radius: 5px;
  color: white;
  padding: 10px;
  font-size: 1.05em;
  font-weight: bold;
  cursor: pointer;
}

.card-text{
  font-size: 1.1em;
  font-weight: normal;
  text-align: left;
}

.counter-button{
  font-weight: 700;
  background-color:white;
  color: rgb(26, 95, 243);
  width: 50px;
  height: 50px;
  margin: 5px;
  box-shadow: 0px 0px 10px rgb(150, 150, 150);
  border: 1px solid rgb(175, 170, 241);
}

.card-input-div{
  text-align: left;
}

.card-input-label{
  margin-left: 10px;
  font-weight: 500;
}

.card-input{
  width: 90%;
  margin: 5px;
  padding: 5px;
  border: 1px solid rgb(175, 170, 241);
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgb(150, 150, 150);
}